<div class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1" style="color: black"><b>Register</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Register a new membership</p>

        <div [formGroup]="form">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                   [required]="true">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                   [required]="true">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" formControlName="username" [required]="true">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-id-card"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password"
                   [required]="true">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="form-control" formControlName="role" [required]="true">
              <option [value]="role.roleId" *ngFor="let role of roles">{{role.name}}</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user-tag"></span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block" (click)="register()" [disabled]="form.invalid">Register</button>
          </div>
        </div>
        <a href="/auth/login" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->
</div>
